* {
}

.board {
    margin: 10px;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(10, 30px);
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    justify-content: center;
    align-items: center;
}

.field {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;

}