@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    --shadow: 2px 2px 4px;
    transition: all ease-in-out 350ms;
    --red: rgb(255, 0, 0, 0.3);
}

/* HEADER */

.header { 
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 10;
}

.gameRecord {
    width: 162px;
    text-align: right;
    color: var(--red);
}

button {
    background-color: antiquewhite;
    border: solid 1px grey;
    border-radius: 2px;
}

button:hover {
    background-color: var(--red);
}

button:active {
    background-color: white;
}

input:focus {
    border: solid 1px grey;
    outline: solid 2px var(--red);
    border-radius: 2px;
}

.menus {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.menus * {
    z-index: 999;
}

.splash, .enterNames {
    transform: translateY(30vh);
}

/* GAMESETUP */

.setup{
    position: relative;
}

.setup h1::first-line {
    color: var(--red);
    font-size: 1.5rem;
}

.setup .controls {
    width: 330px;
    display: grid;
    grid-template-columns: 30px 120px 90px 90px;
    grid-template-rows: 30px 30px;
    font-size: 0.7rem;

    margin: 30px 0 0;
}

.controls label {
    display: inline-block;
    width: 30px;
    border: solid 1px gray;
    border-right: none;
    border-radius: 2px 0 0 2px;
}

.controls select {
    display: inline-block;
    width: 120px;
    border: solid 1px gray;
    border-left: none;
    border-radius: 0 2px 2px 0;
}

.controls select:focus {
    outline: none;
}

.controls .error {
    font-size: 1rem;
    width: 330px;
    text-align: center;
    align-self: center;
    color: var(--red);
}

.setup .shipsPreview {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.field.hover {
    background-color: lightgray;
}
.field.invalid {
    background-color: lightcoral;
}

.gameDiv {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 330px;
    justify-content: center;
}

.hidden {
    display: none;
}


#board1 {
    grid-area: 1 / 2 / 2 / 3;
    z-index: 1;
}

#board2 { 
    grid-area: 2 / 1 / 3 / 2;
    z-index: 2;
}

#display1 {
    position: relative;
    top: 90px;
    left: 90px;
}
#display2 {
    position: relative;
    top: 120px;
    left: 120px;
}

.board {
    width: 330px;
    height: 330px;
    display: grid;
    grid-template-rows: repeat(11, 30px);
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow)
}

.display {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: antiquewhite;
    border-radius: 5px;
    box-shadow: var(--shadow)

}

.row {
    display: grid;
    grid-template-columns: repeat(11, 30px);
    justify-content: center;
    align-items: center;
}

.field, .label, .preview {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: white;
}

.ship.preview {
    transform-origin: top left;
}

.rotated {
    transform: rotate(90deg);
}

.label {
    background-color: var(--red);
}
.label.corner {
    background-color: transparent;
}

.ship {
}

.ship.A {
    background-color: rgb(0, 128, 0, 0.3);
}
.ship.B {
    background-color: rgba(0, 0, 128, 0.3);
}
.ship.C {
    background-color: rgba(128, 0, 0, 0.3);
}
.ship[class*="D"] {
    background-color: rgba(128, 0, 128, 0.3);
}
.ship[class*="S"] {
    background-color: rgba(0, 128, 128, 0.3);
}

.field.hit {
    color: red;
}
.field.miss {
    color: blue;
}

.board .field.sunk {
    background-color: rgb(93, 93, 93, 0.3);
}

/* SWITCH PLAYER */

.switchPlayerScreen::after {
    content: '...';
    color: var(--red);
}

.board.hide > *{
    opacity: 0;
}
/* GAME OVER */
.gameOverScreen, .switchPlayerScreen {
    text-align: center;
    transform: translateY(30vh);
}

.gameOverScreen h1 {
    color:rgba(128, 0, 0, 0.3);
    font-size: 3rem;
    text-shadow: 2px 2px 2px antiquewhite;
}

.gameOverScreen h2 {
    margin: 0.4rem;
}

@media screen and (max-width: 700px) {
    .gameDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px
    }
    .display {
        display: none;
    }
    .header {
        transform: scale(0.6);
        transform-origin: bottom;
        height: 50px;
    }
    .setup {
        transform: scale(0.8);
    }
    .splash, .enterNames {
        transform: translateY(20vh);
    }

}

@media screen and (max-height: 700px) {
    .content{
        height: 500px;
        transform: scale(0.8);
    }
    .header {
        height: 50px;
    }
}

